*{
    padding: 0;
    margin: 0;
}

header{
    background-color: grey;
}
header nav{
    text-align: center;
}
header nav ul li{
    list-style: none;
    padding: 10px 0px;
    border-bottom: 1px solid white;
}
header nav ul li:hover{
    background-color: #ccc;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    display: flex;
}
.content .left{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 0px 50px;
}
.content .left h2{
    margin-bottom: 20px;
}
.content .left p{
    padding: 0px 70px;
}
.content .right{
    width: 50%;
    height: 400px;
    background-image: url(./img/IMG_2276.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section{
    padding: 70px;
}
.section h2{
    margin-bottom: 13px;
}
footer{
    height: 60px;
    background-color: #555;
}
footer p{
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 600px){
    .content{
        flex-direction: column;
    }
    .content .left{
        width: 100%;
        padding: 0px;
    }
    .content .right{
        width: 100%;
    }
}